@model IEnumerable<LakewoodVolunteerCorp.ViewModels.SignUpDateGroup>

@{
    ViewBag.Title = "Volunteer Statistics";
}

<h2>Volunteer Statistics</h2>

<table>
    <tr>
        <th>
            Sign Up Date
        </th>
        <th>
            Volunteers
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SignUpDate)
            </td>

            <td>
                @item.VolunteerCount
            </td>
        </tr>
    }
</table>