@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lakewood Volunteer Corp</h1>
    <p class="lead">We are a local non-profit organization in Lakewood, Iowa. Our team of volunteers is known around the community for their hard work to improve our town.</p>
    <p><a href="" class="btn btn-primary btn-lg">Join us! &raquo;</a></p>
</div>